@media ( max-width: 1199px )
  html
    font-size: 50%
  .header
    background: url('../img/header__pic.svg'), url('../img/header__bg.svg')
    background-position: 125% 60%, 0 0
    background-size: 60% auto, cover
    background-repeat: no-repeat

// @media ( max-width: 991px )

// @media ( max-width: 767px )

// @media ( max-width: 576px )

// @media ( max-width: 359px )

  