@media ( max-width: 1300px )
  .container
    padding: 0 30px
@media ( max-width: 1199px )
  html
    font-size: 50%
  .header
    background: url('../img/header__pic.svg'), url('../img/header__bg.svg')
    background-position: 125% 60%, 0 0
    background-size: 60% auto, cover
    background-repeat: no-repeat

@media ( max-width: 991px )      
  .nav
    &__logo
      width: 28%
    &__list
      &-item:not(:last-child)
        margin-right: 4rem
  .header
    background: url(../img/header__pic.svg),url(../img/header__bg.svg)
    background-position: 125% 60%, -80px 0
    background-size: 60% auto, cover
    background-repeat: no-repeat
    &__left-btn
      width: 42.8rem
  .about
    &__features-wrap2
      padding-top: 5rem
  .feature-card__descr
    font-size: 2.8rem
  .footer__logo		
		width: 8rem
@media ( max-width: 780px )
  html
    font-size: 45%
  body
    background: $color-blue-light
  .nav__logo 
    width: 35%
  .header 
    width: 100%;
    height: 100%
    background: none    
    padding-top: 3.8rem
    &__nav
      margin-bottom: 8.5rem
    &__pic-mobile
      display: block
      width: 100%
      height: 100%
      object-fit: contain
      margin-bottom: 8.5rem
    &__left
      max-width: 100%
      width: 100%
      text-align: center
      &-btn
        display: none
        &-mobile
          display: block
          margin: 0 auto
          margin-bottom: 8rem
      &-title
        color: $color-blue-dark
      &-contacts
        display: none
  .header__left-descr
    color: $color-blue-dark
  .main
    &__title
      justify-content: center
    &__h3--mob
      color: $color-blue-light
      text-align: center
  .about
    // &__title
    //   background: $color-blue-dark-mob
    &__wrap-h3--mob
      background: $color-blue-dark-mob
          
  .inner__mob
    background: $color-blue-dark-mob
    border-radius: 35px 35px 0 0

  .swiper1
    background: $color-blue-dark-mob !important
    & .swiper__container
      top: 93%
    & .swiper__buttons
      justify-content: center
      & .swiper-button-prev1, .swiper-button-next1
        width: 6.4rem 
        height: 6.4rem
        border-radius: 50%
        border: none
        background: none
        position: relative
    & .swiper-pagination
      display: none
    &__img
      margin-bottom: 0 
    
    & .swiper-slide
      &__box
        flex-direction: column
        align-items: flex-start
        width: 90%
        max-width: 100%
      &__left
        flex-direction: row
        align-items: center
        justify-content: space-between
        max-width: 100%
        width: 100%
        padding-right: 0
        margin-bottom: 40px
      &__right
        flex-direction: column-reverse
        margin-bottom: 20px
      &__linie
        display: none
      &__inner
        position: relative
      &__container
        width: 100%
        height: 100%
        background: none
        
      
        &--inner1
          background: rgba(241, 241 , 255 , .3)
          width: 100%
          height: 90px
          position: absolute
          top: -43px
          left: 0
          right: 0
        &--inner2
          background: rgba(241, 241 , 255 , .3)
          width: 100%
          height: 90px
          position: absolute
          top: -30px
          left: 0
          right: 0
        &--inner3
          background: rgba(241, 241 , 255 , .3)
          width: 100%
          height: 90px
          position: absolute
          top: -70px
          left: 0
          right: 0

  .slide__title-h4
    max-width: 65%
  .text-circle
    position: relative    
    padding-left: 30px
    &::before
      content: ''
      position: absolute
      left: 0
      top: 9px
      width: 12px
      height: 12px
      border-radius: 50%
      background: #fff
  & .swiper-button-prev1.swiper-button-disabled, .swiper-button-next1.swiper-button-disabled
    opacity: .5 !important
  .about__features
    background: transparent
    padding-top: 0
     
  .about__features-top
    padding: 250px 0   
    background: url('../img/about__features-bg.svg') center / cover no-repeat

  .about__features-wrap
    max-width: 70%
    position: relative
    top: -227px 
  .main__h3--dark-mob
    color: $color-blue-light
  .about__features-text
    color: $color-blue-light
  .services

    &__features
      flex-direction: column
      align-items: stretch      
      background: url('../img/services__linie.svg'), url('../img/services__linie.svg'), url('../img/services__linie.svg'), url("../img/services__pic1.svg")
      background-position: 70% 21%, 70% 42%, 70% 63%, 50% 100%
      background-size: 18.3rem .4rem,18.3rem .4rem, 18.3rem .4rem, 10.3rem auto
      background-repeat: no-repeat
      &-card
        margin-bottom: 24px
  .feature-card
    flex-direction: row-reverse
    align-items: center
    justify-content: space-between
  .feature-card__img
    margin-bottom: 0
  .feature-card__descr
    text-align: left
  .main .card-1
    max-width: 50% 
  .main .card-2
    max-width: 50% 
  .main .card-3
    max-width: 50%
  
  .price
    
    &__wrap
      padding-bottom: 20rem
      max-width: 65%
    &__block
      background: #6A71A1
      position: relative
      
    &__text
      color: $color-blue-light
    &__contacts
      color: $color-blue-light
    &__img
      right: 5%
      width: 40rem
      opacity: .5   
    
    &__left-btn--mobile
      display: block
    &__img-box
      display: block
      width: 100%
      height: 100px
      position: absolute
      left: 0
      right: 0
      bottom: -20px
    &__img-mob
      display: block
      width: 100%
      height: 100%
      object-fit: 

  .none
    display: none
  .review
    & .inner
      background: #414772
    &__img-bottom-mob
      display: block
      width: 100%
      object-fit: cover
      position: relative
      top: -10px
  
  .swiper3__container
      background: #414772
  
  .swiper3
    & .swiper__container
      top: 95% !important
    
      
    & .swiper__buttons
      justify-content: center
      
    & .swiper-button-prev3
      width: 10px 
      height: 10px
      border-radius: 50%
      border: none
      background: none
      margin-right: 10px
      
    & .swiper-button-next3
      width: 10px 
      height: 10px
      border-radius: 50%
      border: none
      background: none
  .contacts
    &__inner
      padding-top: 0
    &__title-h2
      color: transparent
      margin-bottom: 0
    &__box
      flex-direction: column
    &__form
      width: 100%
      border: none    

       

      

@media ( max-width: 576px )
  .price__img-box
    bottom: -31px
@media ( max-width: 359px )
  .container
    max-width: 320px
    padding: 0 15px






